*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Project exclude paths
/nicespinner/build/
/nicespinner/build/intermediates/javac/debug/classes/